// SECTION NOSSO PRODUTOS

#nossosProdutos {
    margin-top: 110px;
    margin-bottom: 30px;

    .row {
        .containerOverlay {
            // TODO COLOCAR UM FILTRO NA IMG
            // .filtroColorido {
            //     color: rgba(145, 139, 139, 0.45);
            }
        }
}

#fazerPedido {
    .linhaEspacada {
        .logoPedido {
            text-align: right;
        }

        .numeroContato {
            text-align: left
        }
    }

    .btn {
        background-color: $cinza-footer;
        color: $cinza-escuro;
        font-weight: bold;
    }
}


.containerAmarelo {
background-color: #F9A631;
padding: 20px 0;
}

.linhaEspacada {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.containerOverlay:hover .image {
    opacity: 0.3;
}

.containerOverlay:hover .middle {
    opacity: 1;
}

.tag {
    background-color: #F9A631;
    color: #2F2D2D;
    font-size: 16px;
    padding: 16px 32px;
}