* {
  font-family: "Open Sans";
}

html,
body {
  overflow-x: hidden;
}

html .navbar,
body .navbar {
  background-color: #f9a631;
}

html header,
body header {
  margin-top: 80px;
}

html header .header-home,
body header .header-home {
  background-image: url(../img/pexels02.jpeg);
  background-size: cover;
  background-position: top center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html header .header-home .card-img-overlay,
body header .header-home .card-img-overlay {
  position: static;
}

html header .header-home .headerDescricao,
body header .header-home .headerDescricao {
  padding: 40px;
  width: 380px;
  height: 305px;
  background-color: rgba(249, 166, 49, 0.8);
}

html header .header-home .headerDescricao h1,
body header .header-home .headerDescricao h1 {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

html header .header-home .headerDescricao p,
body header .header-home .headerDescricao p {
  color: black;
  font-weight: bold;
  max-width: 400px;
}

html .fundoVerde,
body .fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

html .card,
body .card {
  border: none;
  background: transparent;
}

html .cardAmarelo,
body .cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

html .diferenciaisImg,
body .diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

html .fundoVerde,
body .fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

html .fundoVerde .card,
body .fundoVerde .card {
  border: none;
  background: transparent;
}

html .fundoVerde .card .cardAmarelo,
body .fundoVerde .card .cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

html .fundoVerde .card .cardAmarelo .diferenciaisImg,
body .fundoVerde .card .cardAmarelo .diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

html .fundoVerde .card .cardAmarelo .diferenciaisTxt,
body .fundoVerde .card .cardAmarelo .diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

html .card,
body .card {
  border: none;
  background: transparent;
}

html .diferenciaisTxt,
body .diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

html .contatoTxt,
body .contatoTxt {
  letter-spacing: 2px;
  line-height: 30px;
}

html .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover,
body .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover {
  background-color: #13BBB3;
}

html .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria,
body .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria {
  color: #2F2D2D;
}

html .btnParafusaria,
body .btnParafusaria {
  color: #2F2D2D;
  font-weight: bold;
  background-color: #f9a631;
}

html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

html footer,
body footer {
  background-color: #cbc8c8;
  font-family: "Open Sans";
  padding: 26px 0;
}

html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}

html .pFooter,
body .pFooter {
  text-align: center;
}

html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

html #creditosSite,
body #creditosSite {
  background-color: #ededed;
  color: #2F2D2D;
  padding: 15px 0;
}

html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}

html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 320px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }
  #colunaIcones {
    padding-top: 1.5rem;
  }
}

#whats_botao {
  background-color: rgba(255, 69, 0, 0.9);
  width: 12%;
  text-align: center;
  font-family: "Open Sans";
  margin-left: 80%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 8px;
}

@media (max-width: 1000px) {
  #whats_botao {
    display: none;
  }
}

* {
  font-family: "Open Sans";
}

html,
body {
  overflow-x: hidden;
}

html .navbar,
body .navbar {
  background-color: #f9a631;
}

html header,
body header {
  margin-top: 80px;
}

html header .header-home,
body header .header-home {
  background-image: url(../img/pexels02.jpeg);
  background-size: cover;
  background-position: top center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html header .header-home .card-img-overlay,
body header .header-home .card-img-overlay {
  position: static;
}

html header .header-home .headerDescricao,
body header .header-home .headerDescricao {
  padding: 40px;
  width: 380px;
  height: 305px;
  background-color: rgba(249, 166, 49, 0.8);
}

html header .header-home .headerDescricao h1,
body header .header-home .headerDescricao h1 {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

html header .header-home .headerDescricao p,
body header .header-home .headerDescricao p {
  color: black;
  font-weight: bold;
  max-width: 400px;
}

html .fundoVerde,
body .fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

html .card,
body .card {
  border: none;
  background: transparent;
}

html .cardAmarelo,
body .cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

html .diferenciaisImg,
body .diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

html .fundoVerde,
body .fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

html .fundoVerde .card,
body .fundoVerde .card {
  border: none;
  background: transparent;
}

html .fundoVerde .card .cardAmarelo,
body .fundoVerde .card .cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

html .fundoVerde .card .cardAmarelo .diferenciaisImg,
body .fundoVerde .card .cardAmarelo .diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

html .fundoVerde .card .cardAmarelo .diferenciaisTxt,
body .fundoVerde .card .cardAmarelo .diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

html .card,
body .card {
  border: none;
  background: transparent;
}

html .diferenciaisTxt,
body .diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

html .contatoTxt,
body .contatoTxt {
  letter-spacing: 2px;
  line-height: 30px;
}

html .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover,
body .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover {
  background-color: #13BBB3;
}

html .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria,
body .contatoSecao .contatoLinha .contatoCadastro .btnParafusaria {
  color: #2F2D2D;
}

html .btnParafusaria,
body .btnParafusaria {
  color: #2F2D2D;
  font-weight: bold;
  background-color: #f9a631;
}

html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

html footer,
body footer {
  background-color: #cbc8c8;
  font-family: "Open Sans";
  padding: 26px 0;
}

html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}

html .pFooter,
body .pFooter {
  text-align: center;
}

html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

html #creditosSite,
body #creditosSite {
  background-color: #ededed;
  color: #2F2D2D;
  padding: 15px 0;
}

html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}

html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 320px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }
  #colunaIcones {
    padding-top: 1.5rem;
  }
}

#whats_botao {
  background-color: rgba(255, 69, 0, 0.9);
  width: 12%;
  text-align: center;
  font-family: "Open Sans";
  margin-left: 80%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 8px;
}

@media (max-width: 1000px) {
  #whats_botao {
    display: none;
  }
}

html,
body {
  overflow-x: hidden;
}

html #imagemSecreta,
body #imagemSecreta {
  display: none;
}

html #clientesDizem,
body #clientesDizem {
  margin-top: 100px;
}

html #clientesDizem #containerDepoimentos,
body #clientesDizem #containerDepoimentos {
  background-image: linear-gradient(rgba(145, 139, 139, 0.45), rgba(110, 106, 106, 0.45)), url(../img/pexelParceiros.jpeg);
  background-size: cover;
  background-position: center center;
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

html #clientesDizem #carrosselDepoimentos #conteudoCarrossel,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel {
  height: 170px;
  width: 700px;
  background-color: rgba(249, 166, 49, 0.8);
  padding: 5px 15px;
}

html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote {
  padding-bottom: 10px;
}

html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p {
  color: #FFFFFF;
}

html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote .blockquote-footer,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote .blockquote-footer {
  color: #2F2D2D;
  font-weight: bold;
}

html #Projetos #linhaBotaoCadastrar,
body #Projetos #linhaBotaoCadastrar {
  margin-bottom: 25px;
}

html #nossosClientes #logosClientes,
body #nossosClientes #logosClientes {
  justify-content: space-evenly;
}

#linhaEspecial {
  margin-bottom: 25px;
}

.containerAmarelo {
  background-color: #F9A631;
  padding: 10px 0;
}

@media (max-width: 767px) {
  html #imagemSecreta,
  body #imagemSecreta {
    display: initial;
  }
  html h2,
  body h2 {
    font-size: 1.5rem;
  }
  html h4,
  body h4 {
    font-size: 20px;
    margin-top: 8px;
  }
  html p,
  body p {
    font-size: 13px;
  }
  html #clientesDizem #containerDepoimentos,
  body #clientesDizem #containerDepoimentos {
    height: 72vh;
  }
  html #clientesDizem #containerDepoimentos #conteudoCarrossel,
  body #clientesDizem #containerDepoimentos #conteudoCarrossel {
    height: 253px;
    width: 200px;
  }
  html #clientesDizem #containerDepoimentos #conteudoCarrossel blockquote,
  body #clientesDizem #containerDepoimentos #conteudoCarrossel blockquote {
    font-size: 13px;
  }
  html #Projetos .linhaEspacada,
  body #Projetos .linhaEspacada {
    margin: 20px 0;
  }
  html #Projetos .linhaEspacada #imagemSumir,
  body #Projetos .linhaEspacada #imagemSumir {
    display: none;
  }
  html #Projetos .colunaProjetos,
  body #Projetos .colunaProjetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  html #nossosClientes #logosClientes,
  body #nossosClientes #logosClientes {
    flex-direction: column;
  }
  html #nossosClientes #logosClientes img,
  body #nossosClientes #logosClientes img {
    margin-bottom: 10px;
  }
}

@media (min-width: 991px) {
  #Projetos h2 {
    margin-bottom: 24px;
  }
  #nossosClientes h2 {
    margin-bottom: 20px;
  }
}

#nossosProdutos {
  margin-top: 110px;
  margin-bottom: 30px;
}

#nossosProdutos .row .containerOverlay {
  margin-bottom: 10px;
}

#fazerPedido .linhaEspacada .logoPedido {
  text-align: right;
}

#fazerPedido .linhaEspacada .numeroContato {
  text-align: left;
}

#fazerPedido .btn {
  background-color: #cbc8c8;
  color: #2F2D2D;
  font-weight: bold;
}

.containerAmarelo {
  background-color: #F9A631;
  padding: 20px 0;
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerOverlay:hover .image {
  opacity: 0.3;
}

.containerOverlay:hover .middle {
  opacity: 1;
}

.tag {
  background-color: #F9A631;
  color: #2F2D2D;
  font-size: 16px;
  padding: 16px 32px;
}

@media (max-width: 360px) {
  #fazerPedido .btn {
    width: 80%;
  }
}

body #headerQuemSomos {
  margin-top: 0;
}

body #headerQuemSomos #banner {
  margin: 0;
  width: 100%;
}

body #headerQuemSomos #banner .carousel-item img {
  height: 75vh;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

body .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}

body #loja h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 40px;
}

body #loja p {
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 18px;
  text-align: left;
}

#flavia h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 40px;
}

#flavia #fotoFlavia {
  width: 55%;
  padding-bottom: 25px;
}

#flavia p {
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 18px;
  text-align: left;
}

#flavia .fotosAvo {
  padding: 25px;
}

@media (max-width: 991px) {
  body #headerQuemSomos #banner .carousel-item img {
    height: 65vh;
  }
  body #flavia #fotoFlavia {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */