* {
  font-family: "Open Sans";
}

.navbar {
  background-color: #f9a631;
}

header {
  margin-top: 80px;
}

.headerImg {
  height: 60px;
}

.headerDescricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

.card {
  border: none;
  background: transparent;
}

.cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

.diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

.diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

.contatoTxt {
  letter-spacing: 2px;
  line-height: 30px;
}

.contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover {
  background-color: #13BBB3;
}
.contatoSecao .contatoLinha .contatoCadastro .btnParafusaria {
  color: #2F2D2D;
}

.btnParafusaria {
  color: #2F2D2D;
  background-color: #f9a631;
}

.icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

footer {
  background-color: #cbc8c8;
  font-family: "Open Sans";
  padding: 26px 0;
}
footer #footerMaior .linhaEspacada {
  margin: 0;
}

.pFooter {
  text-align: center;
}
.pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#creditosSite {
  background-color: #ededed;
  color: #2F2D2D;
  padding: 15px 0;
}
#creditosSite #copyRight {
  justify-content: center;
}
#creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }

  #colunaIcones {
    padding-top: 1.5rem;
  }
}
* {
  font-family: "Open Sans";
}

.navbar {
  background-color: #f9a631;
}

header {
  margin-top: 80px;
}

.headerImg {
  height: 60px;
}

.headerDescricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

.card {
  border: none;
  background: transparent;
}

.cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

.diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

.diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

.contatoTxt {
  letter-spacing: 2px;
  line-height: 30px;
}

.contatoSecao .contatoLinha .contatoCadastro .btnParafusaria:hover {
  background-color: #13BBB3;
}
.contatoSecao .contatoLinha .contatoCadastro .btnParafusaria {
  color: #2F2D2D;
}

.btnParafusaria {
  color: #2F2D2D;
  background-color: #f9a631;
}

.icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

footer {
  background-color: #cbc8c8;
  font-family: "Open Sans";
  padding: 26px 0;
}
footer #footerMaior .linhaEspacada {
  margin: 0;
}

.pFooter {
  text-align: center;
}
.pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#creditosSite {
  background-color: #ededed;
  color: #2F2D2D;
  padding: 15px 0;
}
#creditosSite #copyRight {
  justify-content: center;
}
#creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }

  #colunaIcones {
    padding-top: 1.5rem;
  }
}
html,
body {
  overflow-x: hidden;
}
html #clientesDizem,
body #clientesDizem {
  margin-top: 100px;
}
html #clientesDizem #containerDepoimentos,
body #clientesDizem #containerDepoimentos {
  background-image: linear-gradient(rgba(145, 139, 139, 0.45), rgba(110, 106, 106, 0.45)), url(../img/header_parceiros.jpeg);
  background-size: cover;
  background-position: center center;
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel {
  height: 170px;
  width: 700px;
  background-color: rgba(249, 166, 49, 0.8);
  padding: 5px 15px;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote {
  padding-bottom: 10px;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p {
  color: #FFFFFF;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote .blockquote-footer,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote .blockquote-footer {
  color: #2F2D2D;
  font-weight: bold;
}
html #Projetos #linhaBotaoCadastrar,
body #Projetos #linhaBotaoCadastrar {
  margin-bottom: 25px;
}

#linhaEspecial {
  margin-bottom: 25px;
}

.linhaEspacada {
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.containerAmarelo {
  background-color: #F9A631;
  padding: 10px 0;
}

@media (max-width: 508px) {
  html h2,
body h2 {
    font-size: 1.5rem;
  }
  html h4,
body h4 {
    font-size: 20px;
    margin-top: 8px;
  }
  html p,
body p {
    font-size: 13px;
  }
  html #clientesDizem #containerDepoimentos,
body #clientesDizem #containerDepoimentos {
    height: 68vh;
  }
  html #clientesDizem #containerDepoimentos #conteudoCarrossel,
body #clientesDizem #containerDepoimentos #conteudoCarrossel {
    height: 247px;
    width: 200px;
  }
  html #clientesDizem #containerDepoimentos #conteudoCarrossel blockquote,
body #clientesDizem #containerDepoimentos #conteudoCarrossel blockquote {
    font-size: 13px;
  }
  html #Projetos .linhaEspacada,
body #Projetos .linhaEspacada {
    margin: 20px 0;
  }
}
#nossosProdutos {
  margin-top: 110px;
  margin-bottom: 30px;
}

#fazerPedido .btn {
  background-color: #cbc8c8;
  color: #2F2D2D;
}

.containerAmarelo {
  background-color: #F9A631;
  padding: 20px 0;
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerOverlay:hover .image {
  opacity: 0.3;
}

.containerOverlay:hover .middle {
  opacity: 1;
}

.tag {
  background-color: #F9A631;
  color: #2F2D2D;
  font-size: 16px;
  padding: 16px 32px;
}

body .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
body #historia h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 40px;
}
body #historia p {
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 18px;
}
body #historia #loja #historia {
  text-align: center;
}

#flavia #fotoFlavia {
  max-width: 30%;
  max-height: 30%;
  border-radius: 10px;
}
#flavia h2 {
  padding: 25px 0;
  text-align: center;
  font-size: 40px;
}
#flavia p {
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}
#flavia .fotosAvo {
  padding: 25px;
}
