* {
  font-family: "Open Sans";
}

.navbar {
  background-color: #f9a631;
}

header {
  margin-top: 80px;
}

.headerDescricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundoVerde {
  background-color: #13BBB3;
  padding: 100px;
}

.card {
  border: none;
  background: transparent;
}

.cardAmarelo {
  background-color: #f9a631;
  border-radius: 10px;
  margin: 30px;
}

.diferenciaisImg {
  width: 120px;
  padding: 20px 0;
}

.diferenciaisTxt {
  font-family: "Open Sans";
  font-weight: bold;
}

.contatoTxt {
  letter-spacing: 2px;
  line-height: 30px;
}

.contatoBtn {
  color: #2F2D2D;
  background-color: #f9a631;
}

.icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

footer {
  background-color: #cbc8c8;
  font-family: "Open Sans";
  padding: 26px 0;
}
footer #footerMaior .linhaEspacada {
  margin: 0;
}

.pFooter {
  text-align: center;
}
.pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#creditosSite {
  background-color: #ededed;
  color: #2F2D2D;
  padding: 15px 0;
}
#creditosSite #copyRight {
  justify-content: center;
}
#creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }

  #colunaIcones {
    padding-top: 1.5rem;
  }
}
html,
body {
  overflow-x: hidden;
}
html #clientesDizem,
body #clientesDizem {
  margin-top: 100px;
}
html #clientesDizem #containerDepoimentos,
body #clientesDizem #containerDepoimentos {
  background-image: linear-gradient(rgba(145, 139, 139, 0.45), rgba(110, 106, 106, 0.45)), url(../img/header_parceiros.jpeg);
  background-size: cover;
  background-position: center center;
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel {
  height: 170px;
  width: 700px;
  background-color: #F9A631;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote {
  padding-bottom: 10px;
}
html #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p,
body #clientesDizem #carrosselDepoimentos #conteudoCarrossel .carousel-item blockquote p {
  color: #FFFFFF;
}
html #Projetos #linhaBotaoCadastrar,
body #Projetos #linhaBotaoCadastrar {
  margin-bottom: 25px;
}

#linhaEspecial {
  margin-bottom: 25px;
}

.linhaEspacada {
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.containerAmarelo {
  background-color: #F9A631;
  padding: 10px 0;
}
